# pyproject.toml
[build-system]
requires = [
    "setuptools",
    "wheel",
    "pybind11",
]
build-backend = "setuptools.build_meta"

dependencies = [
    "numpy",
    "scipy",
    "accelerator-middle-layer",
]
